In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as clr
import matplotlib.dates as md
import seaborn as sns
import datetime as datetime
import numpy as np

%matplotlib inline

plt.style.use('default')

sns.set(style="whitegrid")

import warnings 
warnings.filterwarnings('ignore')

my_colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

In [2]:
%run Limpieza_Clicks.ipynb
%run Limpieza_Auctions.ipynb
%run Limpieza_Installs.ipynb
%run Limpieza_Events.ipynb

In [50]:
#Obtenemos una lista con los id de los dispositivos que queremos analizar
targets = pd.read_csv('../Data/target_final_competencia_revamped.csv')
dispositivos_a_analizar = targets['ref_hash'].str.replace("_st", "").str.replace("_sc","").drop_duplicates()

In [51]:
dispositivos_a_analizar

0       1000169251625791232
2       1000395625957344640
4       1006670001679961600
6       1010070503877148800
8       1010265377387764992
10      1010531372912327040
12      1014428234021750400
14       101763096421653088
16      1017668882534236800
18      1022093956983448448
20      1024792555410741248
22      1030603044158081408
24      1030865855693267840
26      1032938399279723648
28         1037575899869926
30      1042912100594917248
32      1048460865075142784
34      1052346027668414208
36      1052782935269141248
38       105337483767914640
40      1053399148291039232
42      1054881396892383360
44      1055760083915480832
46      1069066119870904960
48      1070673984959261184
50      1071701264087131008
52      1076086792264173440
54      1078063581723896064
56      1078643268919016192
58      1083324672128707200
               ...
5870    9106533257940723712
5872    9107541226650015744
5874    9118542165981641728
5876    9118630733045711872
5878    9127407946387871744
5880    9131414595935186944
5882     913887564240841216
5884    9140920919494391808
5886    9147484137469683712
5888    9157646627544349696
5890     915907285474422016
5892    9175678605658620928
5894    9184649714736979968
5896    9195689871539772416
5898    9196946062251473920
5900    9199566543525015552
5902    9201763056911976448
5904    9202591485087099904
5906    9210211798524147712
5908     923580934104999040
5910     934102789941509248
5912     947121781706964608
5914     950195972417607808
5916     956704247780926464
5918     960623204161846784
5920     962595921037755136
5922     974553511695777536
5924      97694307709005920
5926     977508757724050432
5928     998948062397755392
Name: ref_hash, Length: 2965, dtype: object

In [52]:
devices_targets.size

2965

In [53]:
auctions.shape

(47409528, 4)

In [54]:
#Filtramos quedandonos solo con los registros que tengan informaci√≥n de los dispositivos que nos interesan.
training_set = auctions.loc[auctions['device_id'].isin(dispositivos_a_analizar)]

In [61]:
#Tenemos registros del 18/04 al 26/04 inclusive
training_set.sort_values(by='date',inplace=True)
training_set

,date,device_id,ref_type_id,source_id
376661,2019-04-18 00:15:24.993816,306295876498399040,1,3
11767785,2019-04-18 00:15:25.058144,306295876498399040,1,1
10134438,2019-04-18 00:31:06.566038,306295876498399040,1,3
38165388,2019-04-18 01:07:18.825070,1076086792264173440,1,1
15966295,2019-04-18 01:10:13.615588,1076086792264173440,1,1
16219340,2019-04-18 01:24:49.575750,4700892528469466,1,7
4116652,2019-04-18 02:20:57.026101,306295876498399040,1,1
16748991,2019-04-18 02:20:57.198192,306295876498399040,1,3
47069231,2019-04-18 02:20:57.210085,306295876498399040,1,3
7326546,2019-04-18 02:24:18.520951,306295876498399040,1,3
16750215,2019-04-18 02:25:03.628620,306295876498399040,1,3
11816298,2019-04-18 02:25:03.629821,306295876498399040,1,3
413987,2019-04-18 02:25:03.905657,306295876498399040,1,1
25237343,2019-04-18 02:42:45.600510,306295876498399040,1,3
9330333,2019-04-18 02:45:23.512395,1076086792264173440,1,1
3604919,2019-04-18 02:47:59.811405,1076086792264173440,1,1
19731889,2019-04-18 02:54:17.685081,8624897563799496,1,1
41313605,2019-04-18 02:58:13.757281,1076086792264173440,1,1
22211064,2019-04-18 03:04:14.070847,1076086792264173440,1,1
32235388,2019-04-18 03:07:13.394318,1076086792264173440,1,1
11719961,2019-04-18 03:07:14.213474,1076086792264173440,1,1
19709650,2019-04-18 03:13:13.587330,1076086792264173440,1,1
11729096,2019-04-18 03:13:15.153933,1076086792264173440,1,1
47012254,2019-04-18 03:16:13.874998,1076086792264173440,1,1
47012256,2019-04-18 03:16:15.150276,1076086792264173440,1,1
25252195,2019-04-18 03:19:14.021106,1076086792264173440,1,1
3409396,2019-04-18 03:24:27.463397,306295876498399040,1,3
7284309,2019-04-18 03:24:32.286594,306295876498399040,1,3
41355411,2019-04-18 03:25:16.205583,1076086792264173440,1,1
3951291,2019-04-18 03:28:14.613813,1076086792264173440,1,1
...,...,...,...,...
41855021,2019-04-26 20:51:48.029485,4898697851954015232,7,1
24841609,2019-04-26 20:59:38.639406,4898697851954015232,7,1
14282527,2019-04-26 20:59:41.123271,4898697851954015232,7,3
6217957,2019-04-26 21:36:09.357000,4898697851954015232,7,1
42282235,2019-04-26 21:42:04.184215,306295876498399040,1,0
2716289,2019-04-26 21:42:07.756013,306295876498399040,1,8
6244302,2019-04-26 21:43:02.793402,306295876498399040,1,0
24854371,2019-04-26 21:43:04.713791,306295876498399040,1,1
42624573,2019-04-26 21:43:13.994064,306295876498399040,1,0
42282505,2019-04-26 21:43:16.541700,306295876498399040,1,0
9536789,2019-04-26 21:43:16.716896,306295876498399040,1,1
6244429,2019-04-26 21:43:29.840652,306295876498399040,1,0
41792815,2019-04-26 21:43:30.540236,306295876498399040,1,0
41969080,2019-04-26 21:43:31.512050,306295876498399040,1,1
9536817,2019-04-26 21:43:32.068352,306295876498399040,1,1
1519283,2019-04-26 21:44:01.720218,306295876498399040,1,0
41792944,2019-04-26 21:44:02.227163,306295876498399040,1,0
6701951,2019-04-26 21:44:58.730294,306295876498399040,1,0
41981079,2019-04-26 21:45:49.805345,306295876498399040,1,0
41981302,2019-04-26 21:46:46.251491,306295876498399040,1,0
6706251,2019-04-26 21:47:07.488227,306295876498399040,1,0
46480389,2019-04-26 21:48:18.313085,306295876498399040,1,0
1551386,2019-04-26 21:54:05.317788,306295876498399040,1,1
19165863,2019-04-26 21:54:45.351699,306295876498399040,1,1
20096124,2019-04-26 21:59:51.862788,306295876498399040,1,1
42007570,2019-04-26 23:23:00.142730,306201549474470208,1,1
46500481,2019-04-26 23:23:10.173651,4898697851954015232,7,1
46496166,2019-04-26 23:25:14.629470,4898697851954015232,7,3
9515615,2019-04-26 23:43:39.836787,71410240738361696,1,0
41800628,2019-04-26 23:43:47.949780,71410240738361696,1,0

In [59]:
#Separamos el set de entrenamiento en 5 "ventanas" de 3 d√≠as cada una.
ventana1 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-18')) & (training_set['date'] < pd.to_datetime('2019-04-21'))]
ventana2 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-19')) & (training_set['date'] < pd.to_datetime('2019-04-22'))]
ventana3 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-20')) & (training_set['date'] < pd.to_datetime('2019-04-23'))]
ventana4 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-21')) & (training_set['date'] < pd.to_datetime('2019-04-24'))]
ventana5 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-22')) & (training_set['date'] < pd.to_datetime('2019-04-25'))]

In [60]:
ventana1

,date,device_id,ref_type_id,source_id
376661,2019-04-18 00:15:24.993816,306295876498399040,1,3
11767785,2019-04-18 00:15:25.058144,306295876498399040,1,1
10134438,2019-04-18 00:31:06.566038,306295876498399040,1,3
38165388,2019-04-18 01:07:18.825070,1076086792264173440,1,1
15966295,2019-04-18 01:10:13.615588,1076086792264173440,1,1
16219340,2019-04-18 01:24:49.575750,4700892528469466,1,7
4116652,2019-04-18 02:20:57.026101,306295876498399040,1,1
16748991,2019-04-18 02:20:57.198192,306295876498399040,1,3
47069231,2019-04-18 02:20:57.210085,306295876498399040,1,3
7326546,2019-04-18 02:24:18.520951,306295876498399040,1,3
16750215,2019-04-18 02:25:03.628620,306295876498399040,1,3
11816298,2019-04-18 02:25:03.629821,306295876498399040,1,3
413987,2019-04-18 02:25:03.905657,306295876498399040,1,1
25237343,2019-04-18 02:42:45.600510,306295876498399040,1,3
9330333,2019-04-18 02:45:23.512395,1076086792264173440,1,1
3604919,2019-04-18 02:47:59.811405,1076086792264173440,1,1
19731889,2019-04-18 02:54:17.685081,8624897563799496,1,1
41313605,2019-04-18 02:58:13.757281,1076086792264173440,1,1
22211064,2019-04-18 03:04:14.070847,1076086792264173440,1,1
32235388,2019-04-18 03:07:13.394318,1076086792264173440,1,1
11719961,2019-04-18 03:07:14.213474,1076086792264173440,1,1
19709650,2019-04-18 03:13:13.587330,1076086792264173440,1,1
11729096,2019-04-18 03:13:15.153933,1076086792264173440,1,1
47012254,2019-04-18 03:16:13.874998,1076086792264173440,1,1
47012256,2019-04-18 03:16:15.150276,1076086792264173440,1,1
25252195,2019-04-18 03:19:14.021106,1076086792264173440,1,1
3409396,2019-04-18 03:24:27.463397,306295876498399040,1,3
7284309,2019-04-18 03:24:32.286594,306295876498399040,1,3
41355411,2019-04-18 03:25:16.205583,1076086792264173440,1,1
3951291,2019-04-18 03:28:14.613813,1076086792264173440,1,1
...,...,...,...,...
45513715,2019-04-20 22:06:04.370203,71410240738361696,1,1
6550663,2019-04-20 22:06:23.134908,71410240738361696,1,8
8820031,2019-04-20 22:16:39.231987,306295876498399040,1,3
45533706,2019-04-20 22:24:21.669521,306295876498399040,1,1
12575118,2019-04-20 22:46:35.599938,306295876498399040,1,3
40722512,2019-04-20 22:50:40.923614,306295876498399040,1,3
18681910,2019-04-20 22:50:45.634335,306295876498399040,1,1
18667412,2019-04-20 22:50:45.913793,306295876498399040,1,3
18667419,2019-04-20 22:50:50.859219,306295876498399040,1,3
18682058,2019-04-20 22:52:08.221313,306295876498399040,1,1
18630410,2019-04-20 22:55:04.010024,306295876498399040,1,1
12524643,2019-04-20 22:56:47.539318,306295876498399040,1,3
45517161,2019-04-20 23:15:34.772273,857090287629950080,1,1
8790403,2019-04-20 23:26:46.257150,306295876498399040,1,1
12582031,2019-04-20 23:26:51.321497,306295876498399040,1,3
32703956,2019-04-20 23:26:51.342136,306295876498399040,1,3
45522510,2019-04-20 23:32:13.852309,306295876498399040,1,3
40668179,2019-04-20 23:32:14.300704,306295876498399040,1,1
40682591,2019-04-20 23:37:30.890320,306295876498399040,1,3
40682592,2019-04-20 23:37:31.008695,306295876498399040,1,3
32650778,2019-04-20 23:37:35.996909,306295876498399040,1,3
40682596,2019-04-20 23:37:36.030967,306295876498399040,1,3
38908078,2019-04-20 23:42:52.515631,306295876498399040,1,3
18679545,2019-04-20 23:42:57.577728,306295876498399040,1,3
45237206,2019-04-20 23:42:57.924832,306295876498399040,1,3
22320846,2019-04-20 23:42:57.977527,306295876498399040,1,3
45927482,2019-04-20 23:52:06.835958,1982189145002319872,1,1
12532428,2019-04-20 23:52:54.985271,1982189145002319872,1,1
22058773,2019-04-20 23:56:18.322946,306295876498399040,1,1
24124725,2019-04-20 23:58:04.720981,306295876498399040,1,1